@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.container_back {
    width: 100%vw;
    background: #F1E4E6;
}

.container_footer_back {
    width: 100%vw;
    background: #222224;
}

.navigation {
    background: #222222;
    padding: 20px 231px;
    display: flex;
    justify-content: center;
    gap: 859px;
}

.search {
    display: flex;
    gap: 41px;
    align-items: center;
}

.menu img {
    width: 26px;
    height: 26px;
}

.menu {
    display: flex;
    gap: 33px;
    padding-top: 10px;
    position: relative;
}

.five {
    position: absolute;
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background-color: #F16D7F;
    padding: 2px 5px;
    border-radius: 600px;
    left: 138px;
    top: 3px;
    ;
}



.menu {
    position: relative;
}

.check {
    position: absolute;
    opacity: 0;
    width: 26px;
    height: 26px;

}

.check:checked~.open_menu {
    display: block;
}

.open_menu {
    position: absolute;
    display: none;
    top: 60px;
    width: 232px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 99px;
    padding-bottom: 32px;
    left: 180%;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.open_menu_title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 24px;
}

.open_menu .man,
.women,
.kids {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 20px;
}

.open_menu_title2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
}

.open_menu h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    margin-left: 22px;
}

.close {
    position: absolute;
    top: 20px;
    right: 32px;
}

.main {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.title {
    padding-left: 16px;
    border-left: 12px solid #F16D7F
}

.title h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.title h2 {
    width: 377px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

span {
    color: #F16D7F;
}

.main_content {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    margin-top: 58px;
    margin-bottom: 96px;
}

.layer {
    position: relative;
}

.mini_header h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}


.mini_header h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.women .mini_header {
    position: absolute;
    margin: 105px 103px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.men .mini_header {
    position: absolute;
    margin: 112px 125px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.kids .mini_header {
    position: absolute;
    margin: 112px 122px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.accsesories .mini_header {
    position: absolute;
    margin: 65px 490px;
    width: 159px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main_content .card h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.main_content .card h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}

.mini_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 48px;
}

.mini_title h2 {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
}

.mini_title p {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    margin-bottom: 48px;
}

.card_img {
    margin-bottom: 25px;
}

.card .card1 {
    position: relative;
}

.add_to_cart {
    position: absolute;
    width: 360px;
    height: 425px;
    background: rgba(58, 56, 56, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.add_to_cart button {
    width: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: solid 1px white;
    padding: 12px 12px 9px 14px;
}

.add_to_cart button::before {
    content: url(./img/cart_icon.svg);
    margin-right: 11px;
    width: 26px;
    height: 23px;
}

.card:hover .add_to_cart {
    display: flex;
}

.cards .card {
    background: #F8F8F8;
}

.cards .card h3 {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-left: 16px;
}

.cards .card p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 12px 28px 18px 16px;
}

.cards .card .price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-left: 16px;
    margin-bottom: 20px;
}

.women_img {
    background-image: url(./img/back_women.jpg);
}

.men_img {
    background-image: url(./img/back_men.png);
}

.kids_img {
    background-image: url(./img/back_kids.png);
}

.accs_img {
    background-image: url(./img/back_accsesories.png);
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}

button {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    background: none;
    padding: 15px 39px;
}

button:hover {
    color: white;
    background-color: #FF6A6A;
}



.menu_footer {
    padding: 104px 230px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu_footer article {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu_footer article p {
    width: 300px;
}

.menu_footer .delivery {
    width: 45px;
    height: 32px;
}

.menu_footer .discount {
    width: 40px;
    height: 40px;
}

.menu_footer .assurance {
    width: 47px;
    height: 35px;
}

.menu_footer h3 {
    margin-top: 28px;
    margin-bottom: 16px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;


}

.menu_footer p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}

.subscribe {
    background-image: url(./img/photo\ subscribe\(1\).jpg);
    ;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 126px;
    display: flex;
    justify-content: center;
    gap: 224px;
}

.subscribe form {
    display: flex;
}

.subscribe form input {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
    padding-left: 22px;
}

.subscribe input {
    width: 256px;
    height: 50px;
    border-radius: 20px 0 0 20px;
    border: none;
    background: #E1E1E1;
}

.avatar {
    margin-top: 97px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.avatar img {
    margin-bottom: 30px;
    width: 96px;
}

.avatar p {
    margin-bottom: 22px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
}


.input_email {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input_email h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
}

.input_email h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    margin-bottom: 32px;
}



.send_email {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #F16D7F;
    border-radius: 0 20px 20px 0;
    border: none;
}



.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 655px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer p {
    margin: 30px 0 30px 235px;
}

.footer .icons {
    margin: 24px 230px 23px 0;
    display: flex;
    gap: 7px;
}

.icon {
    width: 32px;
    height: 32px;
    --backgr: white;
    --icon: black;
}

.icon:hover {
    --backgr: #F16D7F;
    --icon: white;
}

.hidden {
    display: none;
}

/* Стили для планшета */
@media (min-width: 376px) and (max-width: 768px) {

    .navigation {
        padding: 18px 32px;
        gap: 424px;
    }

    .title {
        margin-right: 34px;
    }

    .title h1 {
        font-size: 44px;
        line-height: 53px;
    }

    .title h2 {
        font-size: 24px;
        line-height: 29px;
    }

    .main {
        width: 736px;
    }

    .main img {
        width: 386px;
    }

    .container {
        width: 736px;
    }

    .main_content {
        grid-template-columns: repeat(3, 232px);
        gap: 20px;
    }

    .women img {
        width: 232px;
    }

    .women .mini_header {
        margin: 59px 39px;
    }

    .women_img {
        background-position: center;
        background-size: cover;
    }

    .men img {
        width: 232px;
    }

    .men .mini_header {
        margin: 57px 61px 60px;
    }

    .men_img {
        background-position: center;
        background-size: cover;
    }

    .kids img {
        width: 232px;
    }

    .kids .mini_header {
        margin: 58px 59px;
    }

    .kids_img {
        background-position: center;
        background-size: cover;
    }

    .accsesories img {
        width: 734px;
    }

    .accsesories .mini_header {
        margin: 33px 287px;
    }

    .accsesories_img {
        background-position: center;
        background-size: cover;
    }

    .main_content {

        margin-bottom: 109px;
    }

    .mini_title {
        margin-bottom: 73px;
    }

    .mini_title h2 {
        margin-bottom: 3px;
    }

    .cards {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
        margin-bottom: 33px;
    }

    .menu_footer {
        padding: 48px 204px 64px;
        flex-direction: column;
        justify-content: center;
        gap: 49px;
    }

    .subscribe {
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding-bottom: 140px;
        background-position: 25%;
    }

    .input_email {
        margin-top: 0px;
    }

    .footer p {
        margin: 30px 305px 30px 32px;
    }

    .footer .icons {
        margin: 24px 33px 23px 0;
    }

}


/* Стили для мобильного */

@media (max-width: 375px) {
    .container {
        width: 343px;
    }

    .navigation {
        padding: 18px 26px 18px 16px;
        gap: 200px;
    }

    .hide {
        display: none;
    }

    .main {
        width: 375px;
        padding: 148px 56px;
    }

    .title h1 {
        font-size: 38px;
        line-height: 46px;
    }

    .title h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .main_content {
        width: 343px;
        grid-template-columns: 343px;
        gap: 32px;
        margin-bottom: 64px;
    }

    .women img {
        width: 343px;
        background-repeat: no-repeat;
    }

    .men img {
        width: 343px;
        background-repeat: no-repeat;
    }

    .kids img {
        width: 343px;
        background-repeat: no-repeat;
    }

    .accsesories .mini_header {
        margin: 30px 91px;
    }

    .accs_img {
        width: 343px;
        height: 111px;
        background-image: url(./img/back_accs_mobile.jpg);
    }

    .mini_title {
        margin-bottom: 65px;
    }

    .cards {
        grid-template-columns: 359px;
        gap: 16px;
        justify-content: center;
    }

    .menu_footer {
        padding: 48px 14px 81px;
        flex-direction: column;
        justify-content: center;
        gap: 47px;
    }

    .subscribe {
        flex-direction: column;
        align-items: center;
        gap: 59px;
        padding: 64px 14px 110px;
        background-position: 25%;
    }

    .avatar {
        margin-top: 0px;
    }

    .avatar img {
        width: 91px;

    }

    .avatar p {
        font-size: 19px;
        line-height: 23px;
    }

    .input_email h2 {
        font-size: 24px;
        line-height: 37px;

    }

    .input_email h3 {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 22px;

    }

    .input_email {
        margin-top: 0px;
    }

    .subscribe form {
        width: 341px;
    }


    .footer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer p {
        margin: 40px 62px 9px;
    }

    .footer .icons {
        margin: 43px 114px 0px;
    }
}